<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
</head>
<body>
    <h1>Velkommen til denne datingside</h1>
    <h2>Opret en bruger for at komme i gang med at finde kærligheden</h2>
        <p>Udfyld nedenstående kriterier for at oprette en bruger</p>
    
<form action="/createUserPost" method="POST">

    <div>
        <label>Brugernavn</label>
        <br>
        <input name="Brugernavn" type="text" >
    </div>

    <br>


    <div>
        <label>Password</label>
        <br>
        <input  name="password" type="password">
    </div>

    <br>

    <div>
        <label>Email </label>
        <br>
        <input  name="email" type="email">
    </div>

    <br>

    <div>
        <label>Alder</label>
        <br>
        <input  name="Alder" type="number">
    </div>

    <br>

    <div>
        <label>Fornavn</label>
        <br>
        <input  name="fornavn" type="text">
        
    </div>

    <br>

    <div>
        <label>Efternavn</label>
        <br>
        <input  name="efternavn" type="text">
    </div>

    <br>

    <div>
        <label>Køn</label>
            <br>
            <select name="Køn" id="Køn">
                <option id="køn" name="køn" type="radio" value="Hankøn">Hankøn</option>
                <option id="køn" name="køn" type="radio" value="Hunkøn">Hunkøn</option>
            </select>
        <br>
  </div>

  <br>

  <div>
    <label>Bio</label>
        <br>
       
            <input name="Bio" type="text" placeholder="Fortæl om dig selv">
        
    <br>
</div>

    <br>
        <button type="submit">Opret Bruger</button>

    <br>

  <div >
     <p>Allerede oprettet? <a href="/loginUser">Log ind her</a></p>
  </div>

</form>

  

</body>
</html>