<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slet din profil</title>
</head>
<body>
    <h2>Slet din profil her</h2>
        <p>Indtast dit brugernavn og din adgangskode for at slette din profil..</p>
    
    <form action="/deleteUser" method="POST">

    
        <div>
            <label>Brugernavn</label>
            <br>
            <input name="Brugernavn" type="text" >
        </div>
    
        <br>
    
    
        <div>
            <label>Password</label>
            <br>
            <input  name="password" type="password">
        </div>
    

    <br>
        <button type="submit" >Farvel til kærligheden</button>

    <br>


</form>

<br>

<a href="/hovedside"> <button type="button"> Vend tilbage til hovedmenu </button> </a>
</body>
</html>