<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hovedside</title>
</head>
<body>
    <h2>Min profil</h2>
    <p>Nedenfor ses funktionerne, som du kan udføre i appen</p>


    <div>
        <a href="/findMatches"> <button type="button"> Kærlighedsportalen </button> </a>
        <a href="/updateUser"> <button type="button" > Opdater profil </button> </a>
        <a href="/deleteUser"> <button type="button" >Slet profil </button> </a>
        <a href="/logout"> <button type="button" >Log ud </button> </a>
    </div>
</body>
</html>