<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logindside</title>
</head>
<body>
    <form action="/loginUser" method="POST">
    <h1>Log ind</h1>
    <p>Indtast brugernavn og adgangskode for at logge ind</p>
    <hr>

    <label ><b>Brugernavn</b></label>
    <input type="text" name="username" placeholder="Indtast brugernavn"  required>

    <label ><b>Angiv adgangskode</b></label>
    <input type="password" name="password" placeholder="Indtast adgangskode"  required>
 
    
        
        <div >
            <button  type="submit"> Log ind her </button> 
      </div>
  </div>
 
</form>
</body>
</html>