<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farvel</title>
</head>
<body>
    <h2>Opdater din profil her</h2>
        <p>Indtast dit brugernavn og din adgangskode for at opdatere dine oplysninger</p>
    
    <form action="/deleteUser" method="POST">

    
        <div>
            <label>Brugernavn</label>
            <br>
            <input name="Brugernavn" type="text" >
        </div>
    
        <br>
    
    
        <div>
            <label>Password</label>
            <br>
            <input  name="password" type="password">
        </div>
    

    <br>
        <button type="submit" >Farvel til kærligheden</button>

    <br>


</form>

   <!-- <script src="../Backend/validation.js"></script> -->
</form>
</body>
</html>