<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
</head>
<body>
    <h2>Opdater din profil her</h2>
        <p>OBS!! IKKE MULIGT AT ÆNDRE BRUGERNAVN OG PASSWORD</p>
    
 <!--  <form action="/createUserPost" method="POST"> -->

    
    <div>
        <label>Email </label>
        <br>
        <input  name="email" type="email">
    </div>

    <br>

    <div>
        <label>Alder</label>
        <br>
        <input  name="Alder" type="number">
    </div>

    <br>

    <div>
        <label>Fornavn</label>
        <br>
        <input  name="fornavn" type="text">
        
    </div>

    <br>

    <div>
        <label>Efternavn</label>
        <br>
        <input  name="efternavn" type="text">
    </div>

    <br>

    <div>
        <label>Køn</label>
            <br>
            <select name="Køn" id="Køn">
                <option id="køn" name="køn" type="radio" value="Hankøn">Hankøn</option>
                <option id="køn" name="køn" type="radio" value="Hunkøn">Hunkøn</option>
            </select>
        <br>
  </div>

    <br>
        <button type="submit" >Opdater bruger</button>

    <br>


</form>

   <!-- <script src="../Backend/validation.js"></script> -->
</form>
</body>
</html>